[submodule "submodules/glad"]
	path = submodules/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "submodules/msquic"]
	path = submodules/msquic
	url = https://github.com/microsoft/msquic.git
[submodule "submodules/gzip-hpp"]
	path = submodules/gzip-hpp
	url = https://github.com/mapbox/gzip-hpp.git
[submodule "submodules/concurrentqueue"]
	path = submodules/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "submodules/frozen"]
	path = submodules/frozen
	url = https://github.com/serge-sans-paille/frozen.git
[submodule "submodules/sanitizers-cmake"]
	path = submodules/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "submodules/fiberpool"]
	path = submodules/fiberpool
	url = https://github.com/moneroexamples/fiberpool.git
[submodule "submodules/magic_enum"]
	path = submodules/magic_enum
	url = https://github.com/Neargye/magic_enum.git
